In [1]:
!ls

NYC.ipynb  subject1

In [2]:
activities = './subject1/Activities.csv'
sensors = './subject1/sensors.csv'
activities_data = './subject1/activities_data.csv'

In [5]:
import pandas as pd
import numpy as np
import os

In [15]:
act_df = pd.read_csv(activities)
sens_df = pd.read_csv(sensors)

51

In [124]:
act_df

,Heading,Category,Subcategory,Code
0,Employment related,Employment work at home,Work at home,1
1,Employment related,Travel employment,Going out to work,5
2,Personal needs,Eating,Eating,10
3,Personal needs,Personal hygiene,Toileting,15
4,Personal needs,Personal hygiene,Bathing,20
5,Personal needs,Personal hygiene,Grooming,25
6,Personal needs,Personal hygiene,Dressing,30
7,Personal needs,Personal hygiene,Washing hands,35
8,Personal needs,Personal medical,Taking medication,40
9,Personal needs,Sleeping,Sleeping,45
10,Personal needs,Talking on telephone,Talking on telephone,50
11,Personal needs,Resting,Resting,55
12,Domestic work,Preparing a meal,Preparing breakfast,60
13,Domestic work,Preparing a meal,Preparing lunch,65
14,Domestic work,Preparing a meal,Preparing dinner,70
15,Domestic work,Preparing a snack,Preparing a snack,75
16,Domestic work,Preparing a beverage,Preparing a beverage,80
17,Domestic work,Meal Cleanup,Washing dishes,85
18,Domestic work,Meal Cleanup,Putting away dishes,90
19,Domestic work,Putting away groceries,Putting away groceries,95
20,Domestic work,Clean house,Cleaning,100
21,Domestic work,Clean house,Doing laundry,105
22,Domestic work,Clean house,Putting away laundry,110
23,Domestic work,Outdoor chores,Taking out the trash,115
24,Domestic work,Outdoor chores,Lawnwork,120
25,Educational,Home education,Home education,125
26,Educational,Travel study,Going out to school,130
27,Leisure,Leisure,Watching TV,135
28,Leisure,Leisure,Listening to music,140
29,Entertainment and social life,Travel social,Going out for entertainment,145
30,Sports,Travel sports,Going out to exercise,150
31,Purchasing goods and services,Travel services,Going out for shopping,155
32,Other,Other,Other,160

In [140]:
sens_df

    Code     Location          Activity
0    100     Bathroom     Toilet Flush
1    101     Bathroom      Light switch
2    104        Foyer      Light switch
3    105      Kitchen      Light switch
4    106      Kitchen            Burner
..   ...          ...               ...
71    95      Kitchen      Light switch
72    96     Bathroom       Exhaust Fan
73    97  Living room      Light switch
74    98      Kitchen  Garbage disposal
75    99      Kitchen            Burner

[76 rows x 3 columns]

In [22]:
with open(activities_data, 'r') as file:
    data = file.readlines()

In [195]:
Y = []
X = []
for i in range(int(len(data)/5)):
    try:
        Y.append(data[i*5].split(',')[0])
        X.append(data[i*(5)+1][:-1])
    except:
        print(f"@ index {i*5}")

@ index 0
@ index 5
@ index 10
@ index 15
@ index 20
@ index 25
@ index 30
@ index 35
@ index 40
@ index 45
@ index 50
@ index 55
@ index 60
@ index 65
@ index 70
@ index 75
@ index 80
@ index 85
@ index 90
@ index 95
@ index 100
@ index 105
@ index 110
@ index 115
@ index 120
@ index 125
@ index 130
@ index 135
@ index 140
@ index 145
@ index 150
@ index 155
@ index 160
@ index 165
@ index 170
@ index 175
@ index 180
@ index 185
@ index 190
@ index 195
@ index 200
@ index 205
@ index 210
@ index 215
@ index 220
@ index 225
@ index 230
@ index 235
@ index 240
@ index 245
@ index 250
@ index 255
@ index 260
@ index 265
@ index 270
@ index 275
@ index 280
@ index 285
@ index 290

In [107]:
data = pd.DataFrame({'activites' : Y, 'activations' : X})

In [109]:
data = data.merge(act_df, left_on='activites', right_on='Subcategory')

In [111]:
data.drop(columns=['Heading', 'Category', 'Subcategory'], inplace=True)

In [212]:
X = []
Y = []
for each in data.activations:
    X.append(each.split(','))
for each in data.Code:
    Y.append(each)

In [213]:
max_len = 0
for each in X:
    if len(each) > max_len:
        max_len = len(each)
print(max_len)

156

In [214]:
len(X)

295

In [215]:
act2idx = {}
codes = np.array(act_df.Code)
Cat = np.array(act_df.Subcategory)
for i in range(len(codes)):
    act2idx[Cat[i]] = codes[i]

In [216]:
obs2idx = {}
codes = np.array(sens_df.Code)
Loc = np.array(sens_df.Location)
Obs = np.array(sens_df.Activity)
for i in range(len(codes)):
    s =Obs[i] + " @ " + Loc[i] 
    obs2idx[s] = codes[i]

In [217]:
act2idx

{'Work at home': 1,
 'Going out to work': 5,
 'Eating': 10,
 'Toileting': 15,
 'Bathing': 20,
 'Grooming': 25,
 'Dressing': 30,
 'Washing hands': 35,
 'Taking medication': 40,
 'Sleeping': 45,
 'Talking on telephone': 50,
 'Resting': 55,
 'Preparing breakfast': 60,
 'Preparing lunch': 65,
 'Preparing dinner': 70,
 'Preparing a snack': 75,
 'Preparing a beverage': 80,
 'Washing dishes': 85,
 'Putting away dishes': 90,
 'Putting away groceries': 95,
 'Cleaning': 100,
 'Doing laundry': 105,
 'Putting away laundry': 110,
 'Taking out the trash': 115,
 'Lawnwork': 120,
 'Home education': 125,
 'Going out to school': 130,
 'Watching TV': 135,
 'Listening to music': 140,
 'Going out for entertainment': 145,
 'Going out to exercise': 150,
 'Going out for shopping': 155,
 'Other': 160}

In [218]:
obs2idx

{'Toilet Flush  @ Bathroom': 100,
 'Light switch @ Bathroom': 101,
 'Light switch @ Foyer': 104,
 'Light switch @ Kitchen': 95,
 'Burner @ Kitchen': 99,
 'Light switch @ Living room': 97,
 'Light switch @ Bedroom': 108,
 'Light switch @ Porch': 109,
 'Coffee machine @ Kitchen': 119,
 'Drawer @ Kitchen': 87,
 'Refrigerator @ Kitchen': 91,
 'Oven @ Kitchen': 129,
 'Door @ Bathroom': 130,
 'Toaster @ Kitchen': 131,
 'Cabinet @ Kitchen': 89,
 'Window @ Kitchen': 136,
 'Freezer @ Kitchen': 137,
 'Jewelry box @ Bedroom': 139,
 'Door @ Foyer': 140,
 'Door @ Kitchen': 54,
 'Washing Machine @ Kitchen': 142,
 'Microwave @ Kitchen': 143,
 'Cereal @ Kitchen': 145,
 'Drawer @ Bedroom': 86,
 'DVD  @ Living room': 56,
 'Medicine cabinet @ Bathroom': 58,
 'Containers @ Kitchen': 60,
 'Lamp @ Bedroom': 64,
 'Cabinet @ Bathroom': 79,
 'Sink faucet - hot @ Bathroom': 68,
 'Dishwasher @ Kitchen': 70,
 'Lamp @ Living room': 76,
 'Closet @ Foyer': 81,
 'Drawer @ Office/study': 82,
 'Window @ Bedroom': 85,
 'Sink faucet - cold @ Bathroom': 88,
 'Laundry Dryer @ Kitchen': 90,
 'Light switch @ Office/study': 92,
 'Shower faucet @ Bathroom': 93,
 'Exhaust Fan @ Bathroom': 96,
 'Garbage disposal @ Kitchen': 98}

In [219]:
idx2act = list(act2idx.keys())
idx2obs = list(obs2idx.keys())

In [220]:
enc_dec = (idx2act, idx2obs, act2idx, obs2idx)

In [221]:
from keras.preprocessing import sequence

In [222]:
MAX_LEN = 200
# convert to numpy arrays
X = np.array(X, dtype=object)
Y = np.array(Y, dtype=object)
enc_dec = np.array(enc_dec, dtype=object)
X = sequence.pad_sequences(X, maxlen=MAX_LEN, dtype=np.int32)

In [223]:
save_to = f"./MIT_Subject1"
np.save(save_to + '_X.npy', X)
np.save(save_to + '_Y.npy', Y)
np.save(save_to + '_ENCDEC.npy', enc_dec)
print('saved')

saved

In [209]:
data.loc[(data.Code == 145) | (data.Code == 120) | (data.Code == 35), ['Code']] = 160

In [224]:
data.Code.value_counts()

15     84
25     37
30     24
105    19
20     18
65     17
80     15
75     15
60     14
5      12
100     9
70      8
85      8
160     4
135     3
155     2
90      2
95      2
110     2
Name: Code, dtype: int64

In [225]:
unique_elements, counts_elements = np.unique(Y, return_counts=True)
print("Frequency of unique values of the said array:")
print(np.asarray((unique_elements, counts_elements)))

Frequency of unique values of the said array:
[[5 15 20 25 30 60 65 70 75 80 85 90 95 100 105 110 135 155 160]
 [12 84 18 37 24 14 17 8 15 15 8 2 2 9 19 2 3 2 4]]